@charset "utf-8";
/* 共通 */
html {
	height: 100%;
}
body {
	display: flex;
	height: 100%;
	background-color:darkslategrey;
}
body * {
	color: blanchedalmond;
	font-family: "Hachi Maru Pop", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
}
.about-me_back{
    padding: 7px 10px;
    border-top: 10px dotted yellow;
    border-right: 10px dotted yellow;
    border-bottom: 10px dotted orange;
    border-left: 10px dotted orange;
    border-radius: 25px;
    background: rgba(245, 78, 69, 0.928);
    color: blanchedalmond;
}

/* カーソル */
@media (hover: hover) {	
	.about-me_back:hover {
		border-top: 10px dotted orange;
		border-right: 10px dotted orange;
		border-bottom: 10px dotted yellow;
		border-left: 10px dotted yellow;
		background: mediumseagreen;
	}
}
/* タッチパネル */
@media (hover: none) {
	.about-me_back:active {
		border-top: 10px dotted orange;
		border-right: 10px dotted orange;
		border-bottom: 10px dotted yellow;
		border-left: 10px dotted yellow;
		background: mediumseagreen;
	}
}

/* ================================================== */
/* パソコン */
@media (min-width: 1025px) {
	.image {
		position: fixed;
		top: 20%;
		left: 10%;
		width: 50%;
	}
	.text-area {
		position: fixed;
		top: 20%;
		left: 65%;
		width: 30%;
		height: 60%;
	}
	div {
		position: fixed;
	}
	.back-frame {
		position: fixed;
		bottom: 10vh;
		right: 5vw;
		width: 20vh;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.back-posi {
		position: fixed;
		bottom: 10vh;
		right: 5vw;
	}
	.back {
		width: 100%;
	}
	/*.back:hover,*/
	.back-area:hover{
		opacity: .6;
	}
}

/* スマホ 横型 */
@media screen and (orientation: landscape) and (max-width: 1024px) {
	.image {
		position: fixed;
		top: 20%;
		left: 10%;
		width: 50%;
	}
	.text-area {
		position: fixed;
		top: 15%;
		left: 65%;
		width: 30%;
		height: 60%;
	}
	div {
		position: fixed;
	}
	.back-frame {
		position: fixed;
		bottom: 5vh;
		right: 5vw;
		width: 15vh;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.back-posi {
		position: fixed;
		bottom: 5vh;
		right: 5vw;
	}
	.back {
		width: 100%;
	}
	/*.back:active,*/
	.back-area:active{
		opacity: .6;
	}
}

/* スマホ 縦型 */
@media screen and (orientation: portrait) and (max-width: 767px) {
	body * {
		font-size: 32px;
	}
	.wrap {
		display: flex;
	}
	.image {
		position: fixed;
		top: 25%;
		left: 10%;
		right: 10%;
		width: 80%;
	}
	.text-area {
		position: fixed;
		top: 55%;
		left: 10%;
		width: 60%;
		margin-top: 10px;
	}
	.back-frame {
		position: fixed;
		bottom: 15vh;
		right: 5vw;
		width: 20vw;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.back-posi {
		position: fixed;
		bottom: 15vh;
		right: 5vw;
	}
	.back {
		width: 100%;
	}
	/*.back:hover,*/
	.back-area:hover{
		opacity: .6;
	}
}

/* ipad 縦型 */
@media screen and (orientation: portrait) and (min-width: 768px) {
	body * {
		font-size: 24px;
	}
	.wrap {
		display: flex;
	}
	.image {
		position: fixed;
		top: 25%;
		left: 10%;
		right: 10%;
		width: 80%;
	}
	.text-area {
		position: fixed;
		top: 60%;
		left: 10%;
		width: 60%;
		margin-top: 10px;
	}
	.back-frame {
		position: fixed;
		bottom: 5vh;
		right: 5vw;
		width: 15vw;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.back-posi {
		position: fixed;
		bottom: 5vh;
		right: 5vw;
	}
	.back {
		width: 100%;
	}
	/*.back:hover,*/
	.back-area:hover{
		opacity: .6;
	}
}

